body{
    margin: 0;
    background-color: #f4433647;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    background-color: indianred;
    color: black;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    font-size: 22px;
    padding: 30px 40px;
    display: flex;
    justify-content: center;
}

.card{
    background-color: #f4433640;
    padding: 30px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 1px rgba(0 0 0 0.1);
}

#friends{
    margin-top: 100px;
}

#friends h2{
    margin-top: 0;
}